---
# Symlink dotfiles to home directory

- name: Symlink shell configs
  file:
    src: "{{ workstation_dir }}/{{ item }}"
    dest: "{{ home }}/{{ item }}"
    state: link
    force: true
  loop:
    - .bashrc
    - .profile

- name: Symlink editor configs
  file:
    src: "{{ workstation_dir }}/{{ item }}"
    dest: "{{ home }}/{{ item }}"
    state: link
    force: true
  loop:
    - .vimrc
    - .tmux.conf

- name: Ensure Scripts directory is linked
  file:
    src: "{{ workstation_dir }}/Scripts"
    dest: "{{ home }}/Scripts"
    state: link
    force: true

- name: Symlink gitconfig if exists
  file:
    src: "{{ workstation_dir }}/.gitconfig"
    dest: "{{ home }}/.gitconfig"
    state: link
    force: true
  when: lookup('file', workstation_dir + '/.gitconfig', errors='ignore')
